body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.square {
    width: 300px;
    height: 300px;
    border: 1px dotted;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn {
    display: flex;
    padding: 10px;
    background-color: #464451;
    color: #fff;
    border-radius: 8px;
}